QPushButton{
        border-radius:5px;
        background-image:url(:/resource/prefix/resource/pic/button_default.png);
}
QPushButton:hover{
        background-image:url(:/resource/prefix/resource/pic/button_hover.png);
}
QPushButton:pressed{
        background-image:url(:/resource/prefix/resource/pic/button_pressed.png);
}
